html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    color: #ffffff;
    overflow:hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#left {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 275px;
    bottom: 0px;
    background-color: #007ac2; /*Brand Blue 200*/
    -webkit-box-shadow: 3px 0px 5px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    3px 0px 5px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         3px 0px 5px 0px rgba(50, 50, 50, 0.3);
}

#left-scroll {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 40px;
    overflow-y: auto;
    overflow-x: hidden;
}

#left-margins {
    position: absolute;
    left: 20px;
    top: 10px;
    right: 5px;
    bottom: 10px;
    display: inline-block;
}

#left-disclaimer {
    position: absolute;
    left: 20px;
    right: 0px;
    bottom: 10px;
}

#left-disclaimer .popover {
    font-size: 12px;
}

#left-help{
    position: absolute;
    left: 50px;
    right: 0px;
    bottom: 10px;
}

#left-help .popover {
    font-size: 12px;
}

#right {
    position: absolute;
    top: 0px;
    left: 275px;
    bottom: 0px;
    right: 0px;
}

#application-title {
    font-size: 40px;
    font-weight: 700;
}

#map {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

#slider-sun-azimuth-div div.slider-selection.tick-slider-selection,
#slider-sun-azimuth-div div.slider-tick.in-selection,
#slider-sun-altitude-div div.slider-selection.tick-slider-selection,
#slider-sun-altitude-div div.slider-tick.in-selection,
#slider-intensity-div div.slider-selection.tick-slider-selection,
#slider-intensity-div div.slider-tick.in-selection {
    background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%);
    background-image: -o-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%);
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
}

#bookmarks {
    position: absolute;
    top: 10px;
    right: 15px;
}

.btn-group {
    background: #fff;
    border-radius:4px;
}

.btn{
    width:75px;
}

.btn-spacing{
    margin-top: 10px;
}

.app-title{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}
.title {
    text-align: left;
    font-size: 26px;
    font-weight: 300;
    color: #fff;
    margin-top: 25px;
    margin-bottom: 3px;
}

.heading {
    text-align: left;
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 3px;
}

.slider.slider-horizontal {
    margin-left: 10px;
    width: 200px;
}

.slider-tick {
    opacity: 1;
}

.separator {
    width: 150px;
    height: 2px;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.popover a{
    color: #f89927; /*Brand Orange 100*/
}

.popover a:hover{
    color: #f89927; /*Brand Orange 100*/
}

.info-btn{
    font-size: 25px;
    color: #e76518;
}

.info-btn:focus,
.info-btn:hover{
    color: #CE4C00;
}

.info-btn .glyphicon{
    bottom: -15px !important;
    top: auto;
}

.popover-content{
    color: #6e6e6e; /*Brand Gray 200*/
}

.popover-title{
    background: #b9e0f7; /*Brand Blue 100*/
    color: #6e6e6e; /*Brand Gray 200*/
}

.esriSimpleSlider{
    background-color: #007ac2; /*Brand Blue 200*/
    color: #fff;
    border: none;
}

.esriSimpleSliderVertical .esriSimpleSliderIncrementButton {
    border-bottom: 1px solid #fff;
}

.esriSimpleSliderIncrementButton:hover,
.esriSimpleSliderDecrementButton:hover{
    background: #0061A9; /*Darken brand blue 200 by 10%*/
}

.slider-handle{
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #e76518;
    background-image: -moz-linear-gradient(top, #f36f20, #d5570b);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f36f20), to(#d5570b));
    background-image: -webkit-linear-gradient(top, #f36f20, #d5570b);
    background-image: -o-linear-gradient(top, #f36f20, #d5570b);
    background-image: linear-gradient(to bottom, #f36f20, #d5570b);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff36f20', endColorstr='#ffd5570b', GradientType=0);
    border-color: #d5570b #d5570b #8c3908;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #d5570b;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}