html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    /*
        Avenir LT W01 35 Light
        Avenir LT W01 65 Medium
        Avenir LT W01 85 Heavy
        Avenir LT W01 45 Book
        Avenir LT W01 55 Roman
        AvenirLTW01-55Oblique
        Avenir Next W01 Thin
        AvenirNextLTW01-Heavy
    */
    font-family: 'Avenir LT W01 35 Light', Arial, Helvetica, sans-serif;
}

#top {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 60px;
    background-color: #2D6CA2;
}

#heading {
    position: absolute;
    margin-top: 7px;
    width: 100%;
    text-align: center;
    font-size: 36px;
    color: #ffffff;
}

#esri-logo {
    position: absolute;
    margin-top: 5px;
    height: 50px;
    text-align: left;
}

#map {
    position: absolute;
    top: 60px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#bottom {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 140px;
    pointer-events: none;
}

#bottom-date {
    font-family: 'Avenir LT W01 85 Heavy', Arial, Helvetica, sans-serif;
    position: absolute;
    left: 50%;
    top: 0px;
    width:500px;
    margin-left: -250px;
    font-size: 48px;
    color: white;
    pointer-events: none;
    text-align: center;
}

#slider {
    position: absolute;
    left: 50%;
    top: 75px;
    margin-left: -150px;
    width: 300px;
    pointer-events: all;
}

#help-button {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 200px;
    height: 60px;
    background-color: #5b89b0;
    cursor: pointer;
    z-index: 10;
}

#help-button:hover {
    background-color: #b3c8db;
}

#help-button-text {
    margin-top: 15px;
    text-align: center;
    font-size: 22px;
    pointer-events: none;
    color: #ffffff;
}

#help-window {
    position: absolute;
    top: 60px;
    right: 0px;
    margin-top: -200px;
    width: 200px;
    background: rgba(111, 84, 153, 0.5);
    height: 200px;
    color: #ffffff;
}

#legend-heat {
    margin-top: 10px;
    margin-left: 75px;
}
.rc-legend-item {
    margin-bottom: -4px;
}

.rc-legend-item > div{
    display: inline-block;
    font-size: 14px;
}

.rc-legend-item > div:first-child {
    width: 25px;
    height: 35px;
    margin-right: 10px;
}

#legend-heat > div.rc-legend-item:nth-child(1) > div:first-child {
    background:linear-gradient(to bottom, rgb(63, 63, 66), rgb(0, 0, 255));
}
#legend-heat > div.rc-legend-item:nth-child(2) > div:first-child{
    background:linear-gradient(to bottom, rgb(0, 0, 255), rgb(0, 255, 0));
}
#legend-heat > div.rc-legend-item:nth-child(3) > div:first-child{
    background:linear-gradient(to bottom, rgb(0, 255, 0), rgb(255, 255, 0));
}
#legend-heat > div.rc-legend-item:nth-child(4) > div:first-child{
    background:linear-gradient(to bottom, rgb(255, 255, 0), rgb(255, 127, 0));
}
#legend-heat > div.rc-legend-item:nth-child(5) > div:first-child{
    background:linear-gradient(to bottom, rgb(255, 127, 0), rgb(255, 0, 0));
}
